.sideBarContainer {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    overflow-y:scroll; 
}

.lineBreak {
    position:relative;
}

.pad {
    margin: 4px !important;
    word-break: break-all;
}

/* Mobile */
@media only screen and (max-width: 428px) {

}

/* Tablet */
@media only screen and (min-width: 429px) and (max-width:1023px){

}